*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
   background: linear-gradient(90deg,#0e3959 0%,#0e3959 30%,#03a9f5 30%,#03a9f5 100% );
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.imz
{
  height: 65px;
}
.navbar
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px; 
    background: #0e3959;
    margin-top: -40px;
    border: 1px solid red;
    
    
}
.navbar a
{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 2em;
    color: white;
}
.Logo
{
    margin-right: 50px;
    font-size: 1.5em;
}
.list
{
    list-style: none;
    display: flex;
    gap: 25px;
}
.list a 
{
    letter-spacing: 4px;
}
#toggler, .navbar label
{
    display: none;
}
.container
{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.container .title
{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.container .title h2
{
    color:white;
    font-size: 3.5em;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form
{
    grid-area: form;
}
.info
{
    grid-area: info;
}
.map
{
    grid-area: map;
}
.contact
{
    padding: 40px;
    background: #fff;
}
.box
{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    border: 1px solid red;


}
.contact h3
{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 10px;

}
/* form */
.formBox
{
    position: relative;
    width: 100%;
}
.formBox .row50
{
    display: flex;
    gap: 20px;
}
.inputBox
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox
{
    width: 100%;
}
.inputBox span
{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputBox input
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[ type="submit"]
{
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    border-radius: 5px;
}

/*info*/

.info
{
    background: #0e3959;
   
}
.info h3
{
    color: #fff;
    margin-bottom: 10px;
}
.info .infoBox div
{
    display: flex;
    align-items: center;
}
.info .infoBox div span
{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 10px;
}
.info .infoBox div p
{
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div a
{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;

}
.sci
{
    margin-top: 40px;
    display: flex;

}
.sci li
{
    list-style: none;
    margin-right: 15px;
}
.sci li a
{
    color: #fff;
    font-size: 2em;
    color: #ccc;

}
.sci li a:hover
{
    color: #fff;
}
.map
{
    padding: 0;
}
.map iframe
{
    width: 100%;
    height: 100%;
}
footer
{
    margin-top: auto;
    background: #0e3959;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
/*Responsive design*/

@media screen and (max-width: 480px)
{

    .imz
    {
        height: 60px;
        margin-top: 10px;
    }
    .menu
    {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list
    {
        
        flex-direction: column;
        align-items: center;
        padding: 10px;
        line-height: 0.4;
        font-size: medium;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
    }
    .list li
    {
        margin-left: 38px;

    }
    .navbar
    {
        margin-bottom: 10px;
        width: 100%;
    }
    .navbar label
    {
        display:inline-flex ;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu
    {
        max-height: 100%;
    }
    #Toggler
    {
        font-size: 40px;
        color: white;
    }
    .info h3
    {
        font-size: 50px;
        text-align: center;
        letter-spacing: 6px;
    }
    .infoBox
    {
        margin-top: 50px;
    }
    .info .infoBox div span
   {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
   }
   .info .infoBox div p
   {
    color: #fff;
    font-size: 1.4em;
    margin-top: -12px;
   }
}

@media(max-width:600px)
{
    body
    {
        background: #03a9f5;
        
    }
    .navbar
   {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px; 
    background: #0e3959;
    margin-top: -40px;
    border: 1px solid red;
    
   }  
    .imz
    {
        height: 60px;
        margin-top: 10px;
    }
    .list
    {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: 150px;
    margin-top: -50px;
    }
    .list a 
    {
    letter-spacing: 4px;
    }
    .container
    {
        padding: 20px;
    }
    .box
    {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map"
        ;

    }

    .formBox .row50
    {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox
    {
        width: 100%;

    }
    .contact
    {
        padding: 30px;
    }
    .info .infoBox div span
    {
        margin-bottom: 20px;
    }
    .info h3
    {
        font-size: 50px;
        text-align: center;
        letter-spacing: 6px;
    }
    .infoBox
    {
        margin-top: 50px;
    }
    .info .infoBox div span
   {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
   }
   .info .infoBox div p
   {
    color: #fff;
    font-size: 1.4em;
    margin-top: -12px;
   }
    .sci
   {
    
    display: flex;
    justify-content: center;

   }
    .map
    {
        min-height: 300px;
        padding: 0;
    }
}
@media(max-width:769px)
{
    .navbar
    {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     padding: 15px 20px; 
     background: #0e3959;
     margin-top: -40px;
     border: 1px solid red;
     
    } 
    .imz
    {
        height: 60px;
        margin-top: 10px;
    }
    .list
    {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: 150px;
    margin-top: -50px;
    }
    .list a 
    {
    letter-spacing: 4px;
    }
}
