*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
   background: linear-gradient(90deg,#0e3959 0%,#0e3959 30%,#03a9f5 30%,#03a9f5 100% );
}
.container
{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.container .title
{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.container .title h2
{
    color:white;
    font-weight: 500;
}
.form
{
    grid-area: form;
}
.info
{
    grid-area: info;
}
.map
{
    grid-area: map;
}
.contact
{
    padding: 40px;
    background: #fff;
}
.box
{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    ;

}
