*
{
    margin: 0;
    padding: 0;
}
header
{
    width: 100%;
    background-color: aqua;
}
.lo
{
    margin-top: 10px;
    max-width: 60px;
    object-fit: cover;
    align-items: center;
    
   
}
#wordlogo
{
    margin-left: 100px;
    justify-content:center ;
    
}




ul 
{
    width: 80%;
    margin: 0 auto;
    
    
}


.pa
{
    
    float: right;
    margin-top: -67px;
}
.wordlogo
{
    margin-left: 150px;
    
}

ul li
{
    list-style: none;
    display: inline-block;
    padding: 20px;

}

ul li:hover
{
    background: white;
}
ul li a
{
    text-decoration: none;
}
.toggle
{
    width: 100%;
    padding: 10px 20px;
    background-color: blanchedalmond;
    text-align: right;
    box-sizing: border-box;
    color: brown;
    font-size: 40px;
    display: none;
   
}



@media (max-width:600px)
{
    .toggle
    {
        display: block;
    }
    ul
    {
        width: 100%;
        display: none;
    }
    ul li
    {
        display: block;
        text-align: center;
    }
    .active
    {
        display: block;
    }
}